<div class="text-center">
    <h1 class="display-4">Task Tracker App</h1>
    <p>My first ASP.NET Core cloud-ready application.</p>

    <a class="btn btn-primary btn-lg" href="/TaskItems">
        Open Task Manager
    </a>
</div>